@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
--root,body{
	margin:0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	
}
#wrapper{
	background-image: url('../image/background.jpeg');
	height: 100%;
	width: auto;
	 background-position: center;
	 background-repeat: no-repeat;
	 background-size: cover;
}

.container-lg {
	background-color: #fff;
	overflow-y: scroll;
	height: 100vh;
}
.container-lg::-webkit-scrollbar {
    display: none;
}
/*1. side-bar 1*/
.col-12.bg-sider1{
	margin-left: 0;
	padding-left: 0;
	min-height: 100vh;
	font-family: 'Ubuntu', sans-serif;
	padding: 0;

}
.bg-sider1 .profile{
	background-color: #ededef;
	margin: 20px 0;
	padding: 10px 0;
}
.bg-sider1 .profile > img{
	display: block;
	margin: 0 auto;
	width: 100px;
	border-radius: 50%;
}
/*1.1 information*/
.bg-sider1 .information{
	background-color: #dadadc;
	padding: 10px 10px 10px 0;
}
.bg-sider1 .contact-me > .c1{
	width: calc(100% - 10px);
	padding: 10px;
	background-color: #393939;
	text-transform: uppercase;
	color: #d9d9d9;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
	font-family: 'Ubuntu', sans-serif;
	text-align: left;
	vertical-align: middle;
	margin-bottom: 0;
	font-size:25px;
	font-weight: bolder;
}
.bg-sider1 .contact-me > .form{
	width: cals(100% -10px);
	margin: 10px;
	padding: 10px 10px 10px 5px;
}
.form span.c img {
	width: 25px;
	margin-right: 20px;
}
.form span {
	font-family: 'Ubuntu', sans-serif;
}
/*2. side-bar right*/
.col-12.sider-2{
	padding-left: 30px;
	background-color: #efeff1;
	font-family: 'Ubuntu', sans-serif;
}
.col-12.sider-2 .header{
	margin: 40px 0;
	line-height: 45px;
}
.col-12.sider-2 .s01{
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: bolder;
}
.col-12.sider-2 .s02{
	font-size: 50px;
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: 5px;
}
.col-12.sider-2 .s03{
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.col-12.sider-2 .details-info>.header{
	width: calc(100% - 10px);
	padding: 10px;
	background-color: #393939;
	text-transform: uppercase;
	color: #d9d9d9;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
	font-family: 'Ubuntu', sans-serif;
	text-align: left;
	vertical-align: middle;
	margin-bottom: 0;
	font-size:25px;
	font-weight: bolder;
}
footer{
	width: 100%;
	padding: 10px 0;
}
.copyright{
	text-align: center;
	font-weight: bolder;
	text-transform: uppercase;
}